/*
* Author: Min Seo
* Project: FreeCodeCamps' Front End Development Project
* Goal: Build a Tribute Page
*/

body {
  font-family: Monospace;
  background-color: #ffdab9;
  color: #0000a0;
}

.headerSize {
  font-size: 32px;
}

.bodySize {
  font-size: 16px;
}

.imageBorder {
  border-style: solid;
  border-color: gray;
  border-size: 3px;
  border-radius: 15%;
}




